.form-control.mr-sm-2 {
  font-family: fantasy;
  font-size: 2em;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  font-family: fantasy;
  font-size: 2em;
}

.page-header {
  margin-left: 25px;
}

#search_box {
    position:relative;
    border-radius: 10px;
    padding:1px;
    margin-left:25px;
    margin-right:1px;
    background:#ddd;
    direction: ltr;
    width:300px;
}
#search_input {
    border-radius: 10px;
    height:40px;
    margin-left:0px;
    padding-right: 1px;
    width: 100%;
}
#search_box_img {
    position:absolute;
    bottom: 6px;
    right: 265px;
    width: 29px;
    height: 29px;
}

#search_box_2 {
    position:relative;
    border-radius: 10px;
    padding: 1px;
    margin-left: 25px;
    background: #ddd;
    direction: ltr;
    height: 50px;
    width: 400px;

}

#search_input_2 {
    border-radius: 10px;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

input::-webkit-input-placeholder {
  transform: translate3d(0, -10px, 0); /* vertically aligns the where placeholder */
}

#startdatepicker_box {
  position: relative;
  border-radius: 10px;
  margin-left: 50px;
  height: 50px;
  width: 200px;
}

#enddatepicker_box {
  position: relative;
  border-radius: 10px;
  margin-left: 50px;
  height: 50px;
  width: 200px;
}

#startdatepicker_input {
  display: block;
  border-radius: 10px;
  margin-left: 0px;
  height: 100%;
  width: 100%;

}

#enddatepicker_input {
  display: block;
  border-radius: 10px;
  margin-left: 0px;
  height: 100%;
  width: 100%;

}

#calendar_img {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 25px;
  height: 25px;
}

#startdatepicker_input::-webkit-input-placeholder {
  transform: translate3d(50px, 0px, 0);
}

#enddatepicker_input::-webkit-input-placeholder {
  transform: translate3d(50px, 0px, 0);
}

#guests_box {
  position: relative;
  border-radius: 10px;
  margin-left: 50px;
  height: 50px;
  width: 200px;
}

#guests_input {
  display: block;
  border-radius: 10px;
  margin-left: 0px;
  height: 100%;
  width: 100%;

}

.container1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 375px;
  height: 500px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

#temp_map {
  max-width: 100%;
  width: 2500px;
  height: 500px;
  max-height: 100%;
  flex-grow: 2;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
}

.container2 {
  display: grid;
  grid-row-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 30px;
  margin-top: 30px;
  /* margin-bottom: 20px; */
  margin-right: 20px;
  margin-left: 80px;
}

.zone {
  text-align: left;
  /* font-family: 'Chilanka', serif; */
  /* font-size: 2em; */
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  transition: all 0.3s linear;
}

img {
  border-radius: 8px;
  height: 100%;
  width: 300px;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.search-results-container {
  height: 200px;
  width: 600px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px grey;
}

#search-results-box1 {
  display: flex;
  margin-top: 75px;
  margin-left: 25px;
}

#img-searchresults-1 {
  width: 250px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#results-name-1 {
  display: flex;
  margin-left: 10px;

}

#results-apt-details-1 {
  margin-top: 10px;
  margin-left: 10px;
}

#results-price-1 {
  margin-left: 10px;
}

#results-greybar-1 {
  height: 50px;
  width: 345px;
  margin-top: 80px;
  border-bottom-right-radius: 10px;
  background-color: #D8D8D8;
}

#search-results-box2 {
  margin-top: 50px;
  margin-left: 25px;
}

#search-results-box2 {
  display: flex;
  margin-top: 75px;
  margin-left: 25px;
}

#img-searchresults-2 {
  width: 250px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#results-name-2 {
  display: flex;
  margin-left: 10px;

}

#results-apt-details-2 {
  margin-top: 10px;
  margin-left: 10px;
}

#results-price-2 {
  margin-left: 10px;
}

#results-greybar-2 {
  height: 50px;
  width: 345px;
  margin-top: 80px;
  border-bottom-right-radius: 10px;
  background-color: #D8D8D8;
}

#search-results-box3 {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;
}

#img-searchresults-3 {
  width: 250px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#results-name-3 {
  display: flex;
  margin-left: 10px;
}

#results-apt-details-3 {
  margin-top: 10px;
  margin-left: 10px;
}

#results-price-3 {
  margin-left: 10px;
}

#results-greybar-3 {
  height: 50px;
  width: 345px;
  margin-top: 80px;
  border-bottom-right-radius: 10px;
  background-color: #D8D8D8;
}

#search-results-box4 {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;
}

#img-searchresults-4 {
  width: 250px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#results-name-4 {
  display: flex;
  margin-left: 10px;

}

#results-apt-details-4 {
  margin-top: 10px;
  margin-left: 10px;
}

#results-price-4 {
  margin-left: 10px;
}

#results-greybar-4 {
  height: 50px;
  width: 345px;
  margin-top: 80px;
  border-bottom-right-radius: 10px;
  background-color: #D8D8D8;
}

.search-results-map {

  float: right;
  height: 700px;
  width: 600px;
  margin-top: 75px;
  margin-left: 75px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.flex-container-left {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.flex-container-right {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.search-details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-details-img-1 {
  display: flex;
  height: 80px;
  width: 900px;
  flex: 1;
}

.search-details-img-2 {
  display: flex;
  height: 40px;
  width: 540px;
  flex: 1;
}

.search-details-img-3 {
  display: flex;
  height: 40px;
  width: 540px;
  flex: 1;
}

#reservation-box {
  outline-style: solid;
  outline-color: grey;
  margin-left: 1000px;
  width: 500px;
}

#reservation-button {
  margin-left: 25px;
  margin-bottom: 25px;
  height: 50px;
  width: 450px;
  background-color: #F04F19;
  border-radius: 10px;
}
