<!<!DOCTYPE html>
<html>
<head>
  <title>GetAways</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style1.css">
</head>
<body class="body">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class="container1">
    <div class="zone">
      <p><i>insert map here</i></p>
    </div>
  </div>
  <div class="container2">
    <div class="zone">
      <img src="{{url_for('static', filename='mantaray_island_resort.jpeg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='south_sea_island_accomodation.jpeg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='funky_fish_beach_surf_resort.jpg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='the_beachouse.jpg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='tropica_island_resort.png')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='bamboo_backpackers.jpg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='maravu_taveuni_lodge.webp')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='horizon_beach_resort.jpg')}}">
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='hilton_fiji_beach_resort_and_spa.jpeg')}}">
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
