<!DOCTYPE html>
<html>
<head>
  <title>GetAways</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine|Chilanka">
<body>
    <h1 class="page-header"><font color="#3F5DA6" style="font-family:Impact; font-size:55px;">GetAways</font></h1>
  <div id="search_box">
      <input type="text" id="search_input" value>
      <img src="../static/img/spyglass.png" id="search_box_img">
  </div>

  <div class="container1">
    <div id="map_box">
      <img id="temp_map" src="{{ url_for('static', filename='img/south_pacific_map.jpg') }}">
    </div>
  </div>
  <div class="container2">
    <div class="zone">
      <img src="{{ url_for('static', filename='img/mantaray_island_resort.jpeg') }}">
      <br>
      <br>
      <p>Mantaray Island Resort</p>
      <p><strong>$52/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{ url_for('static', filename='img/south_sea_island_accomodation.jpeg') }}">
      <br>
      <br>
      <p>South Sea Island Accomodation</p>
      <p><strong>$100/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/funky_fish_beach_surf_resort.jpg')}}">
      <br>
      <br>
      <p>Funky Fish Beach Surf Resort</p>
      <p><strong>$52/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/the_beachouse.jpg')}}">
      <br>
      <br>
      <p>The Beachouse</p>
      <p><strong>$54/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/IncredibleSeafrontStudio.webp')}}">
      <br>
      <br>
      <p>Incredible Seafront Studio</p>
      <p><strong>$70/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/HotelZone.webp')}}">
      <br>
      <br>
      <p>HOTEL ZONE -- BEACHFRONT ROOM #212</p>
      <p><strong>$51/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/amplio.webp')}}">
      <br>
      <br>
      <p>amplio estudio en la playa</p>
      <p><strong>$50/night</strong></p>
    </div>
    <div class="zone">
      <img src="{{url_for('static', filename='img/Casatotalmente.webp')}}">
      <br>
      <br>
      <p>Casa totalmente equipada</p>
      <p><strong>$35/night</strong></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
