<!DOCTYPE html>
<html>
<head>
  <title>Publish Your Listing</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style3.css">



  <!-- Link to a JS3 file -->
</head>
<body>
  <div class="row">
    <h1 class="page-header"><font color="#3F5DA6" style="font-family:Impact; font-size:55px;"><a href="{{ url_for('booking_app.index') }}">GetAways</a></font></h1>
  </div>
  <div class="checklist">

    <div id="root">

      <div class="panel-container">

        <div class="content-panel-container">


        </div>

      </div>

    </div>

  </div>






</body>
</html>
